In [ ]:
# Abra o arquivo json/arquivos_ftp.json e formate para dataframe
import json
import pandas as pd

with open('json/arquivos_ftp.json') as f:
    data = json.load(f)

df = pd.DataFrame(data)

In [ ]:
# Select all is_historico == False
df[(df['is_historico'] == False) & (df['estacao'] == 'orn')]

In [ ]:
!pip install duckdb

In [ ]:
import duckdb

In [ ]:
dados = "ftp/restricted/coleta/spk/data/historico/2023/SPK_2023_001_a_241_RAD_01.dat"
data = duckdb.query(f"""
        SELECT * 
        FROM read_csv_auto('{dados}',
        ignore_errors=true)
        LIMIT 10
    """)
data

In [ ]:
dados = "ftp/restricted/coleta/sjc/data/GUI_RAD_01.DAT"
data = duckdb.query(f"""
        SELECT * 
        FROM read_csv_auto('{dados}',
        ignore_errors=true)
    """)
data

In [ ]:
data

In [ ]:
import pandas as pd

In [ ]:
data = data.iloc[3:]

# Convert all columns to numeric
data = data.apply(pd.to_numeric, errors='ignore')

In [ ]:
# set timestamp as index
data['TIMESTAMP'] = pd.to_datetime(data['TIMESTAMP'])
data = data.set_index('TIMESTAMP')

In [ ]:
data.columns

In [ ]:
import matplotlib.pyplot as plt

fig, axes = plt.subplots(2, 1, figsize=(10, 8), sharex=True)

# Plot par_avg
data['par_avg'].plot(ax=axes[0], title='PAR Average', color='blue')
axes[0].set_ylabel('PAR Avg')

# Plot lux_avg
data['lux_avg'].plot(ax=axes[1], title='LUX Average', color='green')
axes[1].set_ylabel('LUX Avg')
axes[1].set_xlabel('Timestamp')

plt.tight_layout()
plt.show()

In [14]:
import duckdb

In [15]:
# Cria conexão com o banco de dados DuckDB
con = duckdb.connect()

In [16]:
base_dados = "../output/sonda-banco-dados/Solarimetrica.parquet"

In [17]:
# Leia as 5 primeiras linhas do arquivo Parquet
con.execute(f"SELECT * FROM read_parquet('{base_dados}') LIMIT 5").fetchdf()

,acronym,timestamp,year,day,min,glo_avg,glo_std,glo_max,glo_min,dif_avg,...,dir_min,lw_avg,lw_std,lw_max,lw_min,temp_glo,temp_dir,temp_dif,temp_dome,temp_case
0,SLZ,2013-09-14 22:59:00,2013,257,1379.0,-1.898,0.140,-1.305,-1.958,-1.292,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1,SLZ,2013-09-15 05:01:00,2013,258,301.0,-1.632,0.223,-1.305,-1.958,-1.292,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2,SLZ,2013-09-15 15:32:00,2013,258,932.0,865.000,305.300,1198.000,407.300,798.000,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
3,SLZ,2013-09-15 18:35:00,2013,258,1115.0,233.700,35.540,374.700,212.800,208.800,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4,SLZ,2013-09-15 21:49:00,2013,258,1309.0,-1.398,0.147,-1.305,-1.632,-1.292,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0